body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  background-image: url('./assets/cold-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.app.warm {
  background-image: url('./assets/warm-bg.jpg');

}

main {
  height: 93vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 23px;
  padding: 23px 60px;
}